@media screen and (max-width: 1200px) {

    .expense-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .expense-item__date{
        order: 1;
    }

    .expense-item__description{
        flex-direction: column;
        order: 3;
    }

    .expense-item__description-details__item{
        text-align: center;
    }

    .expense-item__description-details__narration{
     text-align: center;
    }
    .expense-item__payment-details{
        flex-direction: column-reverse;
        align-items: flex-start;
        flex-shrink: 1;
        flex-grow: 1;
        order: 2;

        /*border: 1px solid yellow;*/
    }
    .expense-item__payment-details__mode{
        /*border: 1px solid cyan;*/
    }

    .expense-item__payment-details__amount{
        /*border: 1px solid lawngreen;*/
        width: 100%;
    }

    .expense-item__payment-details__amount__details{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}