.item-description{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    color: white;
}

.item-description__category{
    display: flex;
    min-width: 340px;
}

.item-description__category__name{
    font-weight: bold;
    flex: 1 0 0;
}

.item-description__details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-description__details__item{
    font-weight: bold;
}

.item-description__details__narration{
    font-size: 0.8rem;
    font-weight: normal;
    color: lightgrey;
}

@media screen and (max-width: 390px) {

    .item-description__category__name{
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (390 - 300)));
    }
    .item-description__details__item{
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (390 - 300)));
    }
}

@media screen and (max-width: 1400px) {

    .item-description__category{
       text-align: center;
    }

    .item-description{
        flex-direction: column;
    }

    .item-description__details__item{
        text-align: center;
    }

    .item-description__details__narration{
        text-align: center;
    }

}